<script>
  String.prototype.trunc = String.prototype.trunc ||
      function(n){
          return (this.length > n) ? this.substr(0,n-1)+'...' : this;
      };

      $(document).ready(function() {
          $(".text_trunc").each(function(){
            var text_trunc =$(this).text();
            $(this).attr('title',text_trunc);
            text_trunc = text_trunc.trunc(25);
            $(this).text(text_trunc);
          });
          

          $('#example').DataTable({
            responsive: {
                  details: {
                      renderer: function ( api, rowIdx, columns ) {
                          var data = $.map( columns, function ( col, i ) {
                              return col.hidden ?
                                  '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                                      '<td>'+col.title+':'+'</td> '+
                                      '<td>'+col.data+'</td>'+
                                  '</tr>' :
                                  '';
                          } ).join('');
       
                          return data ?
                              $('<table/>').append( data ) :
                              false;
                      }
                  }
            }
        });
        $("#items").selectr({
            title: 'Danh sách mặt hàng',
            placeholder: 'Tên mặt hàng',
        });
        $('.selected_item').each(function() {
            var si = this.value;
            $("#items").find("option").each(function(){
              if(si == $(this).val()){
                var x = $(this).text();
                $(this).attr('selected','selected');
                $('.list-group-item').each(function(){
                  if(x == $(this).find('.option-name').text()){
                    $(this).addClass("selected");
                    $('.panel-body-selected').append("<p id="+si+">- "+x+"</p>");
                    return false;
                  }
                });
              }
            });
        });
        $('.add-remove').click(function() {
            var x = $(this).siblings(".option-name").text();
              if($(this).parent('.list-group-item').hasClass("selected")){
                $("#items").find("option").each(function(){
                  if(x == $(this).text()){
                    $("#"+$(this).val()).remove();
                  }
                });
                
              }
              else{
                $("#items").find("option").each(function(){
                  if(x == $(this).text()){
                    $('.panel-body-selected').append("<p id="+$(this).val()+">- "+x+"</p>");
                    return false;
                  }
                });
              }
            
        });
        $('.option-name').click(function(){
            $('.panel-body-selected').find('p').remove();
            var x = $(this).text();
            if((!$(this).parent('.list-group-item').hasClass("selected")) || ($(this).parent('.list-group-item').siblings().hasClass("selected"))){
                $("#items").find("option").each(function(){
                  if(x == $(this).text()){
                    $('.panel-body-selected').append("<p id="+$(this).val()+">- "+x+"</p>");
                    return false;
                  }
                });
            }
        });
        $('.reset').click(function(){
          $('.panel-body-selected').find('p').remove();
        });

        $( "input:radio" ).on( "click", function() {
            $('#weight').prop("disabled", false);
            $('#volume').prop("disabled", false);
            var selected_item_id =  $( "input:checked" ).closest('tr').children('input:hidden').val();

            $('#input_item_code').children('tr').remove();

           $("#selected_item_id").val(selected_item_id);
           $('span.break').text($( "input:checked" ).closest('tr').children('td.item_name').children('span').attr('title'));
           $('#weight').val($( "input:checked" ).closest('tr').children('td.item_weight').text());
           $('#volume').val($( "input:checked" ).closest('tr').children('td.item_volume').text());


           $("#items_suppliers").children('tbody').children('tr').each(function(){
              var supplier_item_code = $(this).children('td.supplier_item_code').text();
              if(selected_item_id == $(this).children('td.item_id').text()){
                var selected_supplier_id = $(this).children('td.supplier_id').text();
                $("#suppliers").children('tbody').children('tr').each(function(){
                    if(selected_supplier_id == $(this).children('td.account_object_id').text()){
                      $('#input_item_code').append("<tr><td><input type='hidden' name='supplier_list[][supplier_id]' value='"+$(this).children('td.account_object_id').text()+"'/>"+$(this).children('td.account_object_code').text()+"</td><td><input type='text' name='supplier_list[][itemid]' class='form-control' value='"+supplier_item_code+"'></td></tr>");
                    }
                });
              }
           });
        });

      });
      
</script>
